<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<h>, initial-scale=1.0">
   
{{>headerlinks}}

</head>
<body>

    {{>navbar}} 
   
     <!-- main header -->
    <div class="conatiner-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">

            
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <!-- right side div -->
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
               <figure> <img src="img/girl rain.png" alt="parnav" class="img-fluid" title="mukesh parnav" alignment-item="center"></figure>
            </div>
          </div>

            <!-- left side header -->
            <div class="col-md-6 col-12 main_header_left align-items-center text-center">
              <p>welcome to weater app</p>
             <h1>I am a <span class="text-clr">Full Stack Developer</span> Youtuber & a Freelancer</h1> 
             <a href="/weather" ><button>check now</button></a>
            </div>

        </div>
      </div>
    </div>

{{>footer}}
</body>
</html>